[Desktop Entry]
Name=Andromeda

X-KDE-PluginInfo-Name=Andromeda
X-KDE-PluginInfo-Author=Mcder3
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-License=CC BY-SA
