[SddmGreeterTheme]
Name=Andromeda
Description=Andromeda Theme
Description[ast]=Tema Andromeda
Description[bs]=Andromeda Tema
Description[ca]=Tema Andromeda
Description[ca@valencia]=Tema Andromeda
Description[cs]=Motiv Andromeda
Description[da]=Andromeda-temaet
Description[de]=Andromeda-Design
Description[el]=Θέμα Andromeda
Description[en_GB]=Andromeda Theme
Description[es]=Tema Andromeda
Description[et]=Andromeda teema
Description[fi]=Andromeda-teema
Description[fr]=Thème Andromeda
Description[gl]=Tema Andromeda
Description[he]=ערכת הנושא Andromeda
Description[hu]=Andromeda téma
Description[id]=Tema Andromeda
Description[is]=Andromeda þema
Description[it]=Tema Andromeda
Description[ja]=Andromeda テーマ
Description[ko]=Andromeda 테마
Description[lt]=Andromeda apipavidalinimas
Description[nb]=Andromeda-tema
Description[nds]=Andromeda-Muster
Description[nl]=Thema Andromeda
Description[nn]=Andromeda-tema
Description[pl]=Wystrój Andromeda
Description[pt]=Tema Andromeda
Description[pt_BR]=Tema Andromeda
Description[ru]=Тема «Andromeda»
Description[sr@latin]=Tema Andromeda
Description[sv]=Andromeda-tema
Description[tr]=Andromeda Teması
Description[uk]=Тема «Andromeda»
Author=David Edmundson, David Linares, Ramon Buldó
Copyright=(c) 2014, David Edmundson, David Linares (Mcder3), Ramon Buldó
License=CC-BY-SA
Type=sddm-theme
Version=0.1
Website=https://github.com/manjaro/artwork-andromeda
Screenshot=andromeda.jpg
MainScript=Main.qml
ConfigFile=theme.conf
TranslationsDirectory=translations
Email=mcder3@gmail.com
Theme-Id=andromeda
Theme-API=2.0
